@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#wrapper {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    background: url(images/EVA1024x768.png);
	background-size: cover;
}

#nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;

	ul{		
		list-style-type: none;
		margin: 0;
		padding: 0;}

}

aside {
	background-color:#FFC775;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color:#E89C6C;
	border: 1px black solid;
	padding: 20px;
}

#footer {
	background-color:#FF957E;
	border: 1px black solid;
	padding: 20px;

#intro {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

body {
	text-align: center;
	background-color: #f1f3f6;
	color: #13bfb4;
	font-family: Sans-Serif;
	margin: 2 em;
}

h1 {
	color: #3a2fad;
	text-align: center;
	font-family: Open Sans, Sans, bold;
}

h3 {
	color: #3a2fad;
	text-align: center;
	font-family: Open Sans, Sans, bold;
}

p{
	font-size: 22px
	font-family: Open Sans, Sans;
}
