@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#wrapper {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    background: url(images/EVA1024x768.png);
	background-size: cover;
}

#nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;

	ul{		
		list-style-type: none;
		margin: 0;
		padding: 0;}

		li{
			display: inline;
		}

}

aside {
	background-color:#FFC775;
	border: 1px black solid;
	padding: 20px;
}

#header {
	background-color:#E89C6C;
	border: 1px black solid;
	padding: 20px;
}

#footer {
	background-color:#FF957E;
	border: 1px black solid;
	padding: 20px;

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

#intro {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#products {
	text-align: center;
	background-color:#FFC675;
	border: 1px black solid;
	padding: 20px;
	color:#13BFB4;
	font-family: Open Sans, Sans-Serif;
}

h1 {
	color: #3a2fad;
	text-align: center;
	font-family: Open Sans, Sans-Serif;, bold;
}

h3 {
	color: #3a2fad;
	text-align: center;
	font-family: Open Sans, Sans-Serif;, bold;
}

p{
	font-size: 22px;
	font-family: Open Sans, Sans-Serif;
}
