body {
	text-align: center;
	background: img src(images/women.jpg);
	background-size: cover;
	color: #13bfb4;
	font-family: Open Sans, Sans-Serif;
}

h1, {
	color: #3a2fad;
	text-align: center;
}

p{
	font-size: 22px
}
