body {
	text-align: center;
	background: url(images/women.jpg);
	background-size: cover;
	background-color: #8c95a5;
	color: #13bfb4;
	font-family: Sans-Serif;
}

div{
	background: 
	url(/images/women.jpg);
}
h1, {
	color: #3a2fad;
	text-align: center;
}

p{
	font-size: 22px
}
